<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>seller</title>
    <link rel="stylesheet" href="/styles/admin.css">
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSK7O4WhwpmPZB6CdEjkEQXDSIiRCvgjyvghzTy-lOSFExdXG2l2BI4Vpf8t-MBf4J-viw&usqp=CAU">
</head>
<body>
    <div class="loader">
        <div class="spinner">
          <div></div>   
          <div></div>    
          <div></div>    
          <div></div>    
          <div></div>    
          <div></div>    
          <div></div>    
          <div></div>    
          <div></div>    
          <div></div>    
        </div>
      </div>
    <% if (suc.length>0) { %>
        <div class="suc"><%=suc%></div>
      <% } %>
    <div class="nav">
        <h2><span class="pack">PACK-ME</span></h2>
        <div class="nav-2">
            <h3 class="box"><a href="/home">HOME</a></h3>
            <h3 class="box"><a href="/new ">NEW LAUNCHES</a></h3>
            <h3 class="box"><a href="/collection">COLLECTIONS</a></h3>
            <h3 class="box"><a href="/admin">BE A SELLER</a></h3>
            <h3 class="box"><a href="/contact">GET-IN-TOUCH</a></h3>
        </div>
        <div class="nav-3">
            <div class="no"><a href="/profile"><img  src="/images/account-profile.png" height="100%" alt=""></a></div>

            <div class="yes"><a href="/cartread"><img  src="/images/bag.png" alt="" height="100%"></a></div>
        </div>
    </div>
    <div class="container">
        
        <form action="/addp" method="post">
            <h1>Enter Your Product Details</h1>

            <input type="text" name="pname" id="" placeholder="Enter Product Name">
            
            <select id="gender"  name="mode" required>
                <option value="">Type of Bag</option>
                <option value="1">Backpack</option>
                <option value="2">Wheel bags</option>
                <option value="3">Tote bags</option>
                <option value="4">Gym bags</option>
                
            </select>
            <select id="gender"  name="rate" required>
                <option value="">product rating</option>
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
                
            </select>
            
            <input type="text" name="pdes" id="" placeholder="Enter your product description">
        
            <input type="text" name="pimage" id="" placeholder="Enter your product url(image)">
            <input type="number" name="pprice" id="" placeholder="Enter price of placeholder">
            <input type="submit" value="create Product" name="" id="submit">
            </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/javascripts/admin.js"></script>
</body>
</html>