<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/base.css">
</head>
<body>
  <div class="loader">
    <div class="spinner">
      <div></div>   
      <div></div>    
      <div></div>    
      <div></div>    
      <div></div>    
      <div></div>    
      <div></div>    
      <div></div>    
      <div></div>    
      <div></div>    
    </div>
  </div>
  <div class="cursor">
    

  </div>
  <div class="cursor2">
    

  </div>
  <div class="cursor3">
    

  </div>
  <div class="cursor4">
    

  </div>
  <div class="cursor5">
    

  </div>
  <div class="cursor6">
    

  </div>
  <div class="cursor7">
    

  </div>
  
  
  

 
  <div class="container">
      <div class="nav">
        PACK-ME
        <div class="part2">
          <a href="/in">Register</a>
          <a href="/in">Login</a>
        </div>
      </div>

      <div class="sub1">
        <div class="first">
          <h1>HEY! BUDDY</h1>
          <H1 class="H1">are you looking of a bag ! then you are at righ place</H1>
          <p>
            Welcome to Pack Me , your ultimate destination for all types of bags, designed to meet every travel need and lifestyle. We understand that the right bag can make all the difference, whether you're heading out on a quick weekend trip, embarking on an international adventure, or preparing for a business journey. That’s why we offer a carefully curated selection of travel bags that cater to every occasion and every traveler.
          </p>
          <button class="btu"><a href="/in">Explore</a></button>

        </div>
        <div class="sec">
          <img class="img" src="images/k.jpg" alt="" height="100%" >
        </div>
      </div>





  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/javascripts/base.js"></script>
  
</body>
</html>