body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 150vh;
    
    overflow-x: hidden;
   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}.container{
    height: 100%;
    width: 100%;
    background-color:rgba(255, 0, 0, 0);
    margin: 0;
    padding: 0;
    
}
.loader{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
  
  }
  .disapper{
    animation: vanish 1s forwards;
  }
  @keyframes vanish {
    100%{
      opacity: 0;
      visibility: hidden;
    }
  }
  
  .spinner {
    position: absolute;
    width: 9px;
    height: 9px;
  }
  
  .spinner div {
    position: absolute;
    width: 50%;
    height: 150%;
    background: #000000;
    transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
  }
  
  .spinner div:nth-child(1) {
    --delay: 0.1;
    --rotation: 36;
    --translation: 150;
  }
  
  .spinner div:nth-child(2) {
    --delay: 0.2;
    --rotation: 72;
    --translation: 150;
  }
  
  .spinner div:nth-child(3) {
    --delay: 0.3;
    --rotation: 108;
    --translation: 150;
  }
  
  .spinner div:nth-child(4) {
    --delay: 0.4;
    --rotation: 144;
    --translation: 150;
  }
  
  .spinner div:nth-child(5) {
    --delay: 0.5;
    --rotation: 180;
    --translation: 150;
  }
  
  .spinner div:nth-child(6) {
    --delay: 0.6;
    --rotation: 216;
    --translation: 150;
  }
  
  .spinner div:nth-child(7) {
    --delay: 0.7;
    --rotation: 252;
    --translation: 150;
  }
  
  .spinner div:nth-child(8) {
    --delay: 0.8;
    --rotation: 288;
    --translation: 150;
  }
  
  .spinner div:nth-child(9) {
    --delay: 0.9;
    --rotation: 324;
    --translation: 150;
  }
  
  .spinner div:nth-child(10) {
    --delay: 1;
    --rotation: 360;
    --translation: 150;
  }
  
  @keyframes spinner-fzua35 {
    0%, 10%, 20%, 30%, 50%, 60%, 70%, 80%, 90%, 100% {
      transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    }
  
    50% {
      transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
    }
  }
  
.bt{
    height: 3vw;
    width: 10vw;
    border-radius: 50px;
    border: 0;
    box-shadow: 1px 1px 2px;
    font-size: 1.5vw;
    background-color: rgb(247, 108, 108);

}
.bt:hover{
    scale: 0.95;
    box-shadow: 2px 2px 3px black;
}
.nav{
    height: 5%;
    
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(167, 131, 13, 0);
} 
.nav-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
  

}
.first:hover{
    scale: 0.99;
    box-shadow: 2px 2px 5px;
}
.nav h2{
    font-weight: 900;
    font-size: 1.5vw;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav-2 a{
    font-weight: 100;
    color: black;
    text-decoration: none;
   
    font-size: 1.2vw;
}
.nav-2 a:hover {
    text-decoration: underline  rgb(0, 0, 0);
}
.nav-3{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}  



.yes{
    height: 100%;
}
.no{
    height: 100%;
}

.sub{
    height: 95%;
    width: 100%;
    background-image: linear-gradient(50deg,rgb(201, 251, 255) 50%,white 0% );
}
.photo{
    height: 40%;
    width: 100%;
    background-color: rgba(40, 145, 145, 0);
    display: flex;
    justify-content:center;
    align-items: center;

}
h3{
    font-size: 2.5vw;
    
}

.info{
    height: 99%;
    width: 60%;
    background-color: rgba(255, 127, 80, 0);
}
.sec{
    height: 60%;
    width: 100%;
    background-color: rgba(240, 255, 255, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.first{
    height: 50%;
    width: 20%;
    background-image: linear-gradient(-50deg,rgb(201, 251, 255) 50%,rgb(255, 255, 255) 0% );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
}
.head{
    height: 20%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    font-weight: 900;
}
.content{
    height: 70%;
    width: 100%;
    background-color: rgba(0, 0, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
   
    font-size: 4.5vw;
    font-weight: 600;
}
a{
    font-size: 3vw;
    color: black;
    text-decoration: none;
}